<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>En Savoir Plus</title>
    <link rel="stylesheet" href="../static/aPropos CSS/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    <link rel="stylesheet" href="../static/aPropos CSS/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../static/aPropos CSS/css/Growing-Search-Bar-Animated-Text-Input.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom">
        <div class="container"><img src="../static/img/passpotify-logo.png" style="width: 80px;height: 80px;"><a class="navbar-brand" href="#"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarResponsive"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for ("accueil") }}">Accueil</a></li>
                </ul>
                {% if current_user.is_authenticated %}
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="">Ma playlist</a></li>
                </ul>
                {% endif %}
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for("listeDesAlbums") }}">Tous les albums</a></li>
                </ul>
                {% if current_user.is_authenticated %}
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for ("logout") }}">Logout</a></li>
                </ul>
                {% else %}
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for ("login") }}">Login</a></li>
                </ul>
                {% endif %}
                <div class="d-flex justify-content-center h-100">
                    <div class="searchbar"><a class="search_icon" href="{{ url_for ("search") }}"><i class="fas fa-search"></i></a></div>
                </div>
            </div>
        </div>
    </nav>
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container">
                <h1 class="masthead-heading mb-0">Projet Flask</h1>
                <h2 class="masthead-subheading mb-0">IUT Informatique D'Orléans</h2>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>
    <section>
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="text-center display-4">Projet de deuxième année</h2>
                        <p class="text-center">Nous avions pour mission pour ce module de créer un site web utilisant la langage "Flask" et de re-créer un site permettant la consultation ainsi que la modification d'albums musicaux.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="../static/img/dylent.png"></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Dylan</h2>
                        <p>Salut ! Je m'appelle Dylan, j'ai 19 ans et je suis un des développeurs de ce site ! J'espère que notre travail vous plaira et que vous trouverez tout ce dont vous avez besoin sur le site !</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="../static/img/airone.png"></div>
                </div>
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <h2 class="display-4">Erwan</h2>
                        <p>Salut ! Je m'appelle Erwan, j'ai 19 ans et je suis un des développeurs de ce site ! J'espère que notre petit projet vous plaira et que vous trouverez tout ce dont vous avez besoin !</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="py-5 bg-black">
        <div class="container">
            <p class="text-center text-white m-0 small">Projet Flask ¤ JOUSSELIN x DHAUSSY</p>
        </div>
    </footer>
    <script src="../static/aPropos CSS/js/jquery.min.js"></script>
    <script src="../static/aPropos CSS/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>