<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Liste Des Albums</title>
    <link rel="stylesheet" href="../static/LISTE CSS/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    <link rel="stylesheet" href="../static/LISTE CSS/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../static/LISTE CSS/css/Growing-Search-Bar-Animated-Text-Input.css">
    <link rel="stylesheet" href="../static/LISTE CSS/css/Team-Grid.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom">
        <div class="container"><img src="../static/img/passpotify-logo.png" style="width: 80px;height: 80px;"><a class="navbar-brand" href="#"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarResponsive"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse align-items-center" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for ("accueil") }}">Accueil</a></li>
                </ul>
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for("listeDesAlbums") }}">Tous les albums</a></li>
                </ul>
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for ("login") }}">Login</a></li>
                </ul>
                <div class="d-flex justify-content-center h-100">
                    <div class="searchbar"><input type="text" class="search_input" placeholder="Search..."><a class="search_icon" href="#"><i class="fas fa-search"></i></a></div>
                </div>
            </div>
        </div>
    </nav>
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container">
                <h1 class="masthead-heading mb-0">Liste de tous les albums</h1>
            </div>
        </div>
    </header>
    {% block main %}
    <div class="team-grid">
        <div class="container">
            <div class="row justify-content-center people">
            	{% for item in albums %}
                <div class="col-md-4 col-lg-3 item">
                    <div class="box" style="background: url(&quot;../static/img/{{ item["img"] }}&quot;) center / contain no-repeat;">
                        <div class="cover" style="background: rgba(32,160,11,0.75);">
                            <h3 class="name">{{ item["title"] }}</h3>
                            <p class="title">{{ item["author"] }}</p>
                            <div class="social">
                                <p style="color: var(--light);">{{ item["annee"] }}</p>
                            </div>
                        </div>
                    </div><button class="btn btn-primary" onclick="location.href='{{ url_for('edit_author', id = item.author_id) }}'" type="button">Modifier</button><button class="btn btn-primary" type="button">Ajouter à ma playlist</button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endblock %}
    <footer class="py-5 bg-black">
        <div class="container">
            <p class="text-center text-white m-0 small">Projet Flask ¤ JOUSSELIN x DHAUSSY</p>
        </div>
    </footer>
    <script src="../static/LISTE CSS/js/jquery.min.js"></script>
    <script src="../static/LISTE CSS/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
