<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login</title>
    <link rel="stylesheet" href="../static/Login CSS/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    <link rel="stylesheet" href="../static/Login CSS/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../static/Login CSS/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../static/Login CSS/css/Growing-Search-Bar-Animated-Text-Input.css">
    <link rel="stylesheet" href="../static/Login CSS/css/Login-Form-Clean.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom">
        <div class="container"><img src="../static/img/passpotify-logo.png" style="width: 80px;height: 80px;"><a class="navbar-brand" href="#"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarResponsive"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for ("accueil") }}">Accueil</a></li>
                </ul>
                {% if current_user.is_authenticated %}
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="">Ma playlist</a></li>
                </ul>
                {% endif %}
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for("listeDesAlbums") }}">Tous les albums</a></li>
                </ul>
                {% if current_user.is_authenticated %}
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for ("logout") }}">Logout</a></li>
                </ul>
                {% else %}
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for ("login") }}">Login</a></li>
                </ul>
                {% endif %}
                <div class="d-flex justify-content-center h-100">
                    <div class="searchbar"><a class="search_icon" href="{{ url_for ("search") }}"><i class="fas fa-search"></i></a></div>
                </div>
            </div>
        </div>
    </nav>
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container">
                <h1 class="masthead-heading mb-0">Page de connexion</h1>
            </div>
        </div>
    </header>
    <div class="login-clean">
        {% block main %}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="list-group">
                        {% for message in messages %}
                            <li class="list-group-item list-group-item-danger">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <form form role="form" method="POST", action="{{ url_for('login') }}">
                {{ form.hidden_tag() }}
                <h2 class="sr-only">Login Form</h2>
                <div class="illustration"><i class="icon ion-ios-navigate"></i></div>
                <div class="form-group">{{ form.username(size=50, class_="form-control", placeholder = "Pseudo") }}</div>
                <div class="form-group">{{ form.password(size=50, class_="form-control", placeholder = "Mot de passe") }}</div>
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Se connecter</button></div><a class="forgot" href="{{ url_for("inscription") }}">S'inscrire</a>
            </form>
        </div>
        
    </form>
{% endblock %}
    </div>
    <footer class="py-5 bg-black">
        <div class="container">
            <p class="text-center text-white m-0 small">Projet Flask ¤ JOUSSELIN x DHAUSSY</p>
        </div>
    </footer>
    <script src="../static/Login CSS/js/jquery.min.js"></script>
    <script src="../static/Login CSS/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>